/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
html {
  background: #38211a;
  background-image: url("../assets/img/background.png");
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 62.5%;
  margin-right: auto;
  margin-left: auto;
}
.line-break {
  border-bottom: 1px solid #707070;
  padding-top: 18px;
  margin-bottom: 18px;
}
header {
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  font-family: 'museo-sans';
  width:100%;
  max-width:1000px;
  margin: 0 auto;
}
header h1 {
  color: white;
  font-size: 7.9rem;
  text-align: center;
  font-weight: 700;
}
header .social-icons {
  opacity: 0.75;
  text-align: center;
  margin-top: 5rem;
}
header .social-icons a {
  padding-left: 1.25rem;
}
header .topnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .topnav .navbar {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .topnav .navbar button {
  text-decoration: none;
  background: white;
  border: 1px solid white;
  font-size: 3.1rem;
  font-weight: 700;
  color: #315258;
  width: 129px;
  height: 96px;
  padding: 8px;
  opacity: 0.75;
  border-radius: 10px;
  box-shadow: 0 1px 3px #00000069;
}
header .topnav .navbar button:active {
  opacity: 1;
}
header .topnav .navbar button:last-child {
  width: 340px;
  background: #CBC0AD;
  border: 1px solid #CBC0AD;
  color: white;
  opacity: 1;
  padding: 0 15px;
}
header .topnav .navbar button:last-child p {
  font-size: 11px;
  text-align: left;
  margin-bottom: -6px;
}
header .topnav .navbar button:last-child .exp-tracker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .topnav .navbar button:last-child .exp-tracker h4 {
  font-size: 27px;
}
header .topnav .navbar button:last-child .meter {
  display: flex;
  height: 12px;
  width: 240px;
  /* Can be anything */
  position: relative;
  background: #ffffff;
  border-radius: 1px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
header .topnav .navbar button:last-child .meter > span {
  display: block;
  height: 100%;
  background-color: #2f3359;
}
header .percents {
  display: flex;
}
header .percents button {
  width: 300px;
  height: 96px;
  font-family: 'Museo-sans';
  font-size: 3.1rem;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 50px;
  width: 350px;
  height: 100px;
  background: white;
  opacity: 0.75;
  border: 1px solid white;
}
.content-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  background: #315258;
  box-sizing:border-box;
  box-shadow: 0 1px 3px #00000069;
  padding: 18px;
  width:100%;
  max-width:1000px;
  margin:18px auto 0 auto;
}
.content-box .main-box {
  box-shadow: 0 1px 3px #00000069;
  box-sizing:border-box;
  background: #F8F8F8;
  width: 100%;
  height: auto;
  padding:20px;
}
.content-box .main-box .welcome-box {
  display: flex;
}
.content-box .main-box .welcome-box img {
  width: 162.65px;
  height: 162.65px;
}
.content-box .main-box .welcome-box div {
  width: 369px;
  padding-left: 18px;
  font-family: 'Museo-sans';
  font-weight: 500;
}
.content-box .main-box .welcome-box div h1 {
  color: #2f3359;
  font-size: 65px;
  padding-bottom: 5px;
}
.content-box .main-box .welcome-box div h2 {
  color: #38211a;
  font-size: 37px;
  line-height: 1.2;
  padding-top: 5px;
}
.content-box .main-box .chapter-offer .chapter-offer-title {
  box-shadow: 0 1px 3px #00000069;
  height: 102.68px;
  background: #315258;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.content-box .main-box .chapter-offer .chapter-offer-title h2 {
  font-size: 25px;
  font-family: 'Museo-sans';
  font-weight: 500;
  margin: 10px;
}
.content-box .main-box .chapter-offer .chapter-offer-title h1 {
  font-size: 33px;
  font-family: 'Museo-sans';
  font-weight: 700;
  margin-top: 5px;
}
.content-box .main-box .chapter-offer .book-blurb {
  display: flex;
  height: 230px;
}
.content-box .main-box .chapter-offer .book-blurb img {
  box-shadow: 0 1px 3px #00000069;
  width: 150%;
  height: 230px;
  margin-right: 18px;
}
.content-box .main-box .chapter-offer .book-blurb div {
  color: white;
  background: #315258;
  padding: 13px 19px;
  font-family: 'Museo-sans';
  font-weight: 500;
  box-shadow: 0 1px 3px #00000069;
}
.content-box .main-box .chapter-offer .book-blurb div p {
  font-size: 13.8px;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: -3;
  width: 327px;
}
.content-box .main-box .chapter-offer .book-blurb div p:first-child {
  margin-bottom: 10px;
}
.content-box .main-box .chapter-offer .book-blurb div button {
  text-decoration: none;
  width: 327px;
  height: 52px;
  border: 1px solid #91413C;
  border-radius: 10px;
  background: #91413C;
  font-size: 2.2rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
  box-shadow: 0 1px 3px #00000069;
}
.content-box aside.aside{
  display:grid;
  grid-gap:20px;
  position:relative;
  width:100%;
  height:auto;
  box-sizing:border-box;
}
.content-box .aside-box {
  position:relative;
  display:grid;
  width:100%;
  height: auto;
  background: #F8F8F8;
  padding: 30px;
  font-family: 'Museo-sans';
  justify-items:center;
}
.content-box .aside-box h2 {
  max-width:305px;
  font-size: 25px;
  font-weight: 900;
  text-align: left;
  margin-top: 8px;
  line-height: 1.2;
  justify-self:left;
}
.content-box .aside-box img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 2rem;
}
.content-box .aside-box button {
  text-decoration: none;
  width: 300px;
  height: 67px;
  border: 1px solid #91413C;
  border-radius: 10px;
  background: #91413C;
  font-size: 2.2rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
}
.content-box .aside-box form input {
  margin-top: 1rem;
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
}
.content-box .aside-box p {
  font-size: 0.8rem;
  margin-top: 1rem;
  padding-bottom: 5px;
}
.content-box .aside-box li {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.content-box .aside-box .recents {
  text-align: left;
  padding-left: 20px;
}




/** Media Queries **/

@media only screen and ( max-width:992px ){
  .content-box{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
