/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background: #38211a;
}
html {
  font-size: 62.5%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  min-width: 1000px;
}
.line-break {
  border-bottom: 1px solid #707070;
  padding-top: 18px;
  margin-bottom: 18px;
}
header {
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  font-family: 'museo-sans';
}
header h1 {
  color: white;
  font-size: 7.9rem;
  text-align: center;
  font-weight: 700;
}
header .social-icons {
  opacity: 0.75;
  text-align: center;
  margin-top: 5rem;
}
header .social-icons a {
  padding-left: 1.25rem;
}
header .topnav {
  display: flex;
  justify-content: space-between;
}
header .topnav .navbar {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 65%;
}
header .topnav .navbar button {
  text-decoration: none;
  background: white;
  border: 1px solid white;
  font-size: 3.1rem;
  font-weight: 700;
  color: #315258;
  width: 129px;
  height: 96px;
  padding: 8px;
  opacity: 0.75;
  border-radius: 10px;
  margin: 0 8px;
  box-shadow: 0 2px 6px #000000;
}
header .topnav .navbar button:active {
  opacity: 1;
}
header .topnav .percents button {
  width: 350px;
  height: 100px;
  background: white;
  opacity: 0.75;
}
.content-box {
  display: flex;
  background: #315258;
  box-shadow: 0 2px 6px #000000;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 18px;
}
.content-box .main-box {
  box-shadow: 0 2px 6px #000000;
  background: #F8F8F8;
  width: 596px;
  height: auto;
  padding: 18px;
}
.content-box .main-box .welcome-box {
  display: flex;
}
.content-box .main-box .welcome-box img {
  width: 162.65px;
  height: 162.65px;
}
.content-box .main-box .welcome-box div {
  width: 369px;
  padding-left: 18px;
  font-family: 'Museo Sans 500';
}
.content-box .main-box .welcome-box div h1 {
  color: #2f3359;
  font-size: 68px;
  padding-bottom: 5px;
}
.content-box .main-box .welcome-box div h2 {
  color: #38211a;
  font-size: 37px;
  line-height: 1.2;
  padding-top: 5px;
}
.content-box .main-box .chapter-offer .chapter-offer-title {
  box-shadow: 0 2px 6px #000000;
  height: 102.68px;
  background: #315258;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.content-box .main-box .chapter-offer .chapter-offer-title h2 {
  font-size: 25px;
  font-family: 'Museo Sans 500';
  margin: 10px;
}
.content-box .main-box .chapter-offer .chapter-offer-title h1 {
  font-size: 33px;
  font-family: 'Museo Sans 700';
  margin-top: 5px;
}
.content-box .main-box .chapter-offer .book-blurb {
  display: flex;
}
.content-box .main-box .chapter-offer .book-blurb img {
  box-shadow: 0 2px 6px #000000;
  width: 162.12px;
  height: 234.98px;
  margin-right: 18px;
}
.content-box .main-box .chapter-offer .book-blurb div {
  background: #315258;
  padding: 22px;
}
.content-box .main-box .chapter-offer .book-blurb div p {
  font-size: 14px;
  font-family: 'Museo Sans 500';
  margin-bottom: 18px;
}
.content-box .aside-box {
  width: 350px;
  flex-direction: column;
  background: #F8F8F8;
  text-align: center;
  padding: 8px;
  font-family: 'Museo-sans';
  margin: 0 0 18px 18px;
}
.content-box .aside-box h2 {
  font-size: 2.7rem;
  font-weight: 900;
  text-align: center;
  margin-top: 8px;
}
.content-box .aside-box img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}
.content-box .aside-box button {
  text-decoration: none;
  width: 300px;
  height: 67px;
  border: 1px solid #91413C;
  border-radius: 10px;
  background: #91413C;
  font-size: 2.2rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
}
.content-box .aside-box form input {
  margin-top: 1rem;
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
}
.content-box .aside-box p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.content-box .aside-box li {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.content-box .aside-box .recents {
  text-align: left;
  padding-left: 20px;
}
