// ===================================Content-box==========================
.content-box {

    // ===================================Main-box=============================


    // ===================================aside-box============================
    .aside-box {
        width: 100px; 
         
        h2 {
            font-size: 2.7rem; 
            font-weight: 900; 
        }

        img {
            width: 100px; 
            height: 100px; 
        }
    }
}