html {
    background: @darkbrown;
    background-image: url("../assets/img/background.png");
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;





    font-size: 62.5%;

    //Setting up the Wrapper
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px; //Sets up the max width it'll show as 1000px
    min-width: 1000px; //Sets the min width it'll show as 1000px as well.

}

.line-break {
    border-bottom: 1px solid #707070;
    padding-top: 18px;
    margin-bottom: 18px;
}